.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(#F6F6F6, #AAAAAA);
  max-width: 670px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-size: 28px;
  margin-bottom: -10px;
}

h2 {
  font-size: 17px;
}

h1 {
  font-size: 22px;
}

.subtitle {
  margin-bottom: 0px;
}

.row {
  display: flex;
}

.years {
  flex: 1.4
}

.top {
  flex: 0.13
}

.bottom {
  flex: 0.4
}

.year {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  background-color: black;
  width: 2px;
}

button {
  width: 100px;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

.submit {
  margin: 30px;
  background-color: #4477EF;
  border: 2px solid black;
  color: white;
  font-weight: bold;
  padding: 8px;
  width: 45%;
  height: 50px;
  font-size: 18px;
}

.inaSubmit {
  background-color: #8899CC;
  color: rgba(255,255,255,0.9);
  border: 2px solid rgb(0,0,0,0.5);
}

.candidate {
  background-color: #EEDD44;
  width: 70%;
  margin: 6px;
  padding: 6px;
  font-weight: bold;
  border: 2px solid black;
}

.position {
  background-color: rgba(0,0,0,0);
  width: 15%;
  height: 55px;
  margin: auto;
  padding: 8px;
  font-weight: bold;
  border: 2px solid black;
}

.positions {
  margin: auto;
  width: 94%;
}

.candidate:hover, .position:hover {
  cursor: pointer;
}

.submit:hover {
  cursor: pointer;
  background-color: #335AC6;
  border: 2px solid black;
  color: white;
}

.inaCandidate {
  background-color: #BBAA88;
  border: 2px solid rgb(0,0,0,0.5);
  color: rgba(0,0,0,0.5);
}

.inaSelCandidate {
  background-color: #8899CC;
  color: rgba(255,255,255,0.9);
  text-shadow: 0 0 2px black;
  border: 2px solid rgb(0,0,0,0.5);
}

.actSelCandidate, .selPosition {
  background-color: #4477EF;
  color: white;
  text-shadow: 0 0 2px black;
}